

*{
    padding: 0%;
    margin: 0%;
}


/* start of home styles */
/* start of Navbar */
/* .navbar{ */
   /* width:100%;
   height: 15vh;
   background-color: rgb(48, 138, 48);
   display: flex;
   align-items: center;
   justify-content: space-around;

}

.navbar nav ul {
display: flex;


}


.navbar nav ul li {
    
    padding-left: 23px;
    list-style: none;
    
    }

    .navbar nav ul li a {
    
       text-decoration: none;
       font-size: 22px;
       text-transform: capitalize;
       color: white;
       font-weight: bold;
        
        }


        .logo img{
           height: 13vh;
        } */

/* end of navbar */


/*  */
.home-container
{
    height: 120vh;
    background-image: url('assets/bgimage.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.content-center{
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    color: white;
    font-weight: bold;
}

.content-center p{
    font-size: 41px;
}






 /* about css */
.about-container{
    height: 75vh;
}
.about-container h1{
    padding-top: 3%;
}
.d-flex {
    height: 40vh;
    /* margin: 10px; */
    /* display: flex; */
    
}
.d-flex .about-image{
    margin: 10px;
    background-color: azure;
}
.d-flex .paragraph{
    margin: 10px;
    background-color: azure;
}

.d-flex .paragraph .lead{
    margin: 10px;
    height: 30vh;
    font-size: 30px;
    /* background-color: azure; */
}

/*  */
.all-container{
    height: 100vh;
}

.product-container{
    /* background-color: black; */
    padding-top: 40px;
}
.product-container h1{

}



.contact-container{
    /* height: 85vh; */
}
